[Unit]
Description=demo study space book api application
After=network.target

[Service]
User=tunde
Group=tunde
WorkingDirectory=/home/tunde/app/src/
Environment="PATH=/home/tunde/app/venv/bin"
EnvironmentFile=/home/tunde/.env
ExecStart=/home/tunde/app/venv/bin/gunicorn -w 2 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target